@import "bootstrap";

article {
  margin-bottom: 1em;
  padding: 1em 0;
  border-bottom: 1px solid lightblue;

  h1, h2 {margin-bottom: 0;}
  section.post-summary {padding: .5em 0;}
  section.post-body {padding-top: 1em;}
  .img-show {display: block; margin-bottom: 2em;}
  .thumb {float: left; margin-right: 1em;}

}

.field_with_errors {
  label {color: #d01612;}
  input,textarea {border-color: #d01612;}
}

.tag1 {font-size: 1.0em;}
.tag2 {font-size: 1.2em;}
.tag3 {font-size: 1.4em;}
.tag4 {font-size: 1.6em;}
.tag5 {font-size: 1.8em;}

.nested_nav {margin-left: .5em;}

.tag_cloud {margin-top: 2em;}
